<app-nav-bar></app-nav-bar>

<form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col"></div>
      <div class="col border border-info rounded bg-light">
        <h2 class="form-signin-heading">Zaloguj się</h2>
        <div *ngIf="invalidLogin" class="alert alert-danger">Niepoprawna nazwa użytkownika lub hasło.</div>
        <br />
        <label for="username" class="sr-only">Nazwa użytkownika</label>
        <input type="email" id="username" name="login" ngModel class="form-control" placeholder="nazwa użytkownika" required autofocus>
        <br />
        <label for="password" class="sr-only">Hasło</label>
        <input type="password" id="password" name="password" ngModel class="form-control" placeholder="hasło" required>
        <br />
        <button class="btn btn-lg btn-primary btn-secondary" type="submit">Zaloguj się</button>
      </div>
      <div class="col"></div>
    </div>
  </div>
</form>
